@charset "ISO-8859-1";

/*Color Pallet
#003049 -almost black
#D62828 - red
#F77F00- orange
#FCBF49 -light orange
#EAE2B7 - cream
*/


@font-face {
font-family: "Fira";
src: url("FiraSans-Regular.otf") format("opentype");
}

body{
  background:#D62828;
  margin: 0;
  padding: 0;
}

main {
	background: #F77F00;
	border-radius: 20px;
	margin: 0 0 20px 0;
	padding: 20px;
	
}
.main-container{
	max-width: 750px;
	margin: 0 auto; /*auto sets leftright which will center it*/
	padding: 0;
	font-size: 20px;
}



header{
	margin: 0px;
  	padding: .5em 0;
	text-align: center;
	background: #D62828;


}

#warning{
	display: inline-block;
	border: 3px groove #003049 ;
	background: #FCBF49;
	color: #D62828;
	font-size: 20 px;
	line-height: 80%;
	padding: 0 10px;
	
}

#fira{
	font-family: FiraSans-Regular, Fira, serif;
}

ul#tabs{

    height: 45px; /*keeps main block from moving up in behind*/
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
 }
 
 
ul#tabs li.first{

	padding-left: 40px;
 }


ul#tabs li{
    float: left;
    margin: 0 1px 0 0; /*1px gap between tabs*/
    padding-left: 2px;

}


ul#tabs li a{
	background: #d68229;
    float: left;
    line-height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border: 3px solid #d68229;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    color: #FCBF49;

}

ul#tabs li a.active_pg{
	background: #F77F00;
	border: 3px solid #f77f00;
	color: black;
	font-weight: bold;
	
 }


ul#tabs li a:hover {
	background: #F77F00;
	
		
}


footer{
	width: 100%;
	bottom:0;
	background: #D62828;
	display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 1em;	
}



footer p{
	width: 300px;
	margin: 5px;
	
}

li{
	list-style-type: none;
}

.error {
	background: red;
	color: white;
	padding: 3px 7px;
}

#countdown{
	display:inline;
}






