@charset "ISO-8859-1";




 

/* Start with the margins set to zero to avoid margin-collapse confusion */
h4 {
 
    margin-left: 20px;
 
}


h4{
	margin-top: 6px;
	
}

table{
	margin-left: 20px;
}
td {
	font-size: 25px;
	
}

p{
	font-size: 18px;
	padding-left:10px;
}

nav a{
	font-family: "Times New Roman";
	color: #D62828;
	text-decoration: none;
	display: inline-block;
	border-width:5px;  
    border-style:outset;
    font-size: 22px;
    background: #FCBF49;
    border-color: #EAE2B7;	
    padding: 3px;
    margin: 4px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  
}

.wrapper > * {

  border: 5px solid black;
  border-radius: 5px;
  margin: 10px;

 
}

.CO2 td:nth-child(2), p.CO2 {
	background: #fc6902;
	padding: 5px;
}

.H2O td:nth-child(2), p.H2O {
	background: #faa203;
	padding: 5px;
}

.button{
	color: #D62828;
	font-family: "Times New Roman";
	text-decoration: none;
	display: inline-block;
	border-width:5px;  
    border-style:outset;
    font-size: 22px;
    background: #FCBF49;
    border-color: #EAE2B7;	
    padding: 3px;
    margin: 4px;
}


