@charset "ISO-8859-1";

/*Color Pallet
#003049 -almost black
#D62828 - red
#F77F00- orange
#FCBF49 -light orange
#EAE2B7 - cream
*/

body#login{
	background-image: url("/static/images/marsRegolith.jpg");
	background-repeat: no-repeat;
	color: #EAE2B7;

}

main{
	margin: 25px 25px;
	max-width: 700px;
 	margin: auto;
 	border-radius: 0px;
	
}

h1{
	color:#F77F00;
}

h2{
	text-align: center;
}

table {
	color: #EAE2B7;
}


input {
	
  background-color: #EAE2B7 ; 

}

input[type=submit]{
  background: #EAE2B7 ; 
  padding: 3px 3px;
  margin: 10px 12px;
  box-sizing: border-box;
  border-radius: 2px;
}

.emphasis{
	font-weight: bold;
}

.formula{
	white-space: nowrap;
	font-size: 90%
}

.hilite_answer{
	font-weight: bold;
	color: #D62828;
}

.button{
	text-align: center;
}

a {
  background-color: #EAE2B7;
  color: #003049;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.incorrect{
	background-color: #EAE2B7;
	font-weight: bold;
	color: #D62828
	
}

