@charset "ISO-8859-1";




 
 
main{
	margin-top: -1px; /*keeps the tab correct distance from main --*/
}

/* Start with the margins set to zero to avoid margin-collapse confusion */
h1, h2, h3, h4 {
    margin: 0;
    margin-left: 20px;
 
}



h2 {
	text-align: center; 
}

h4{
	margin-top: 6px;
	
}

table{
	margin-left: 20px;
}
td {
	font-size: 25px;
	
}

p{
	font-size: 18px;
	padding-left:10px;
}

input[type=text] {
	background: #F77F00; 
	width: 60px;  /*size of entry field*/

}



.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  
}

.wrapper > * {

  border: 5px solid black;
  border-radius: 5px;
  margin: 10px;

 
}

.trained .button{
	border-width:5px;  
    border-style:outset;
    font-size: 16px;
    background: #FCBF49;
    border-color: #FCBF49;
    min-width: 80.6px;
}

.CDRA .button{
	border-width:5px;  
    border-style:outset;
    color: yellow;
    font-size: 22px;
    background: #FCBF49;
    border-color: #FCBF49;
    min-width: 80.6px;
}



.OGA .button{
	border-width:5px;  
    border-style:outset;
    font-size: 22px;
    background: #FCBF49;
    border-color: #FCBF49;
    color: green;
    min-width: 80.6px;
}


.WPA .button{
	border-width:5px;  
    border-style:outset;
    font-size: 22px;
    min-width: 80.6px;
    background: #FCBF49;
    border-color: #FCBF49;
    color: blue;
}


.WPA .threshold{
	background: blue;
}

.SRA .button{
	border-width:5px;  
    border-style:outset;
    font-size: 22px;
    background: #FCBF49;
    border-color: #FCBF49;
    color: red;
    min-width: 80.6px;
}




.CO2 td:nth-child(3), p.CO2 {
	background: #fc6902;
	padding: 5px;
}

.H2O td:nth-child(3), p.H2O {
	background: #faa203;
	padding: 5px;
}

.subnote{
	font-size:80%;
}