<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	
      <title>{{colonyName}} Escape Room {{title}}</title>
      <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" 
      		sizes="32x32" />
      
      <link rel="stylesheet" href="/static/css/main_style.css">
      <link rel="stylesheet" href="/static/css/pdf.css">

</head>
  <body >
  <div class="pdf">
  <nav >
	<a href="overview">File Explorer</a></nav>
	<embed class ="full-screen" type="application/pdf" 
	src="/static/images/flowdiagram.pdf#toolbar=0">

	</div>
	
	 

	
  </body>
</html>
