<!DOCTYPE html>
{% set active_page = "operations" %}
{% extends "base.html" %}

{% block more_css %}
<link rel="stylesheet" href="/static/css/pipeop.css">
<script src="/static/js/getstream.js" defer></script>
{% endblock %}

{% block content %}

	
    {%if error%}
		<p class="error"><strong>Error:</strong>{{error}}</p>
	{% endif %}

	    <form class= "operations" action="#" method="post">
 <div class="wrapper">	  
	    
	  <!-- ------ Process Rates -->
	    <div class="rates">
	   <table>
	    <h4>Process Rates</h4>
	    
		  <tr class="WPA H2O">
		    <td><input class="entry" type="text" name="WPA" value="" /></td>
		    <td><input class="button" input type="submit" value="WPA" /></td>
		    <td id="WPArate">0</td>
		    <td> %</td>
		  </tr>
		  <tr class="OGA H2O">
		    <td><input class="entry" type="text" name="OGA" value=""/></td>
		    <td><input class="button" input type="submit" value="OGA" /></td>
		    <td id="OGArate">0</td>
		    <td> %</td>
		  </tr>
		  <tr class="CDRA CO2">
		    <td><input class="entry" type="text" name="CDRA" value=""/></td>
		    <td><input class="button" input type="submit" value="CDRA" /></td>
		    <td id="CDRArate">0</td>
		    <td> %</td>
		  </tr>
		    <tr class="SRA CO2">
		    <td><input class="entry" type="text" name="SRA" value=""/></td>
		    <td><input class="button" input type="submit" value="SRA" /></td>
		    <td id="SRArate">0</td>
		    <td> %</td>
		  </tr>
		  
		</table>
		<p>Allowable values are between 0 and 150%.</p>
	    </div>


	<!-- ------ Tank Levels -->
	   <div class="levels">
	   <table>
	    <h4>Tank Levels</h4>
		  <tr class="WPA H2O" >
		    <td><input class="entry" type="text" name="H2O" value="" /></td>
		    <td><input class="button" input type="submit" value="H2O" /></td>
		    <td id="H2Olevel">20</td>
		    <td> %</td>
		  </tr>
		  <tr class="CDRA CO2">
		    <td><input class="entry" type="text" name="CO2" value=""/></td>
		    <td><input class="button" input type="submit" value="CO2 " /></td>
		    <td id="CO2level">19</td>
		    <td> %</td>
		  </tr>
	
		</table>
		<p class="H2O">WPA fills and OGA empties the H2O tank.</p>
		<p class="CO2">CDRA fills and SRA empties the H2O tank.</p>
		</div>
	   
 </div>
{% endblock %}
