<!DOCTYPE html>
{% set active_page = "overview" %}
{% extends "participant.html" %}

{% block more_css %}
<link rel="stylesheet" href="/static/css/participant.css">
<script src="/static/js/getstream.js" defer></script>

{% endblock %}

{% block content %}

	
		<h2> File Explorer</h2>
		
		<li>Training
			<ul><a href="training">refresher_training.exe</a></ul>
		</li>
				
		<li>Process
			<ul><a href="flowdiagram">cycle_diagram.pdf</a></ul>
		</li>
		<li>Troubleshooting
			<ul><a href="errorcodes">error_codes.pdf</a></ul>
			<ul><a href="notavailable">control_boards.pdf</a></ul>
		</li>
  

	   
{% endblock %}
