<!DOCTYPE html>
{% set active_page = "piping" %}
{% extends "base.html" %}

{% block more_css %}
<link rel="stylesheet" href="/static/css/pipeop.css">
{% endblock %}

{% block content %}
  
	<h2>Photocell threshold value for Piping</h2>
	<p>Increase the threshold, if piped but reading unconnected.  Decrease the 
		threshold, if not piped but reading connected.</p>
    {%if error%}
		<p class="error"><strong>Error:</strong>{{error}}</p>
	{% endif %}

	    <form class= "piping" action="#" method="post">
 <div class="wrapper">	  
	    
	  <!-- ------ CDRA -->
	    <div class="CDRA">
	   <table>
	    <h4>CDRA</h4>
		  <tr>
		    <td><input type="text" name="CDRA-H2O-out" value="" /></td>
		    <td><input class="button" type="submit" value="H2O out" /></td>
		    <td class="threshold">{{pipe_thresh["CDRA-H2O-out"]}}</td>
		  </tr>
		  <tr>
		    <td><input type="text" name="CDRA-CO2-out" value=""/></td>
		    <td><input class="button" type="submit" value="CO2 out" /></td>
		    <td class="threshold">{{pipe_thresh["CDRA-CO2-out"]}}</td>
		  </tr>
		  
		</table>
	    </div>
	    	<!-- ------ WPA -->
	   <div class="WPA">
	   <table>
	    <h4>WPA</h4>
		  <tr>
		    <td><input type="text" name="WPA-H2O-pot-out" value="" /></td>
		    <td><input class="button" input type="submit" value="H2O pot out" /></td>
		    <td>{{pipe_thresh["WPA-H2O-pot-out"]}}</td>
		  </tr>
		  <tr>
		    <td><input type="text" name="WPA-H2O-in-CO2" value=""/></td>
		    <td><input class="button" input type="submit" value="H2O in CO2" /></td>
		    <td>{{pipe_thresh["WPA-H2O-in-CO2"]}}</td>
		  </tr>
		  <tr>
		    <td><input type="text" name="WPA-H2O-in-CDRA" value=""/></td>
		    <td><input class="button" input type="submit" value="H2O in CDRA" /></td>
		    <td>{{pipe_thresh["WPA-H2O-in-CDRA"]}}</td>
		  </tr>
		    <tr>
		    <td><input type="text" name="WPA-H2O-in-SRA" value=""/></td>
		    <td><input class="button" input type="submit" value="H2O in SRA" /></td>
		    <td>{{pipe_thresh["WPA-H2O-in-SRA"]}}</td>
		  </tr>
		</table>
	    </div>
	<!-- ------ SRA -->
	   <div class="SRA">
	   <table>
	    <h4>SRA</h4>
		  <tr>
		    <td><input type="text" name="SRA-H2O-out" value="" /></td>
		    <td><input class="button" input type="submit" value="H2O out" /></td>
		    <td class="threshold">{{pipe_thresh["SRA-H2O-out"]}}</td>
		  </tr>
		  <tr>
		    <td><input type="text" name="SRA-H2-in" value=""/></td>
		    <td><input class="button" input type="submit" class="button" value="H2 in" /></td>
		    <td class="threshold">{{pipe_thresh["SRA-H2-in"]}}</td>
		  </tr>
		   <tr>
		    <td><input type="text" name="SRA-CH4-out" value=""/></td>
		    <td><input class="button" input type="submit" value="CH4 out" /></td>
		    <td class="threshold">{{pipe_thresh["SRA-CH4-out"]}}</td>
		  </tr>
		   <tr>
		    <td><input type="text" name="SRA-N2-in" value=""/></td>
		    <td><input class="button" input type="submit" value="N2 in " /></td>
		   <td class="threshold">{{pipe_thresh["SRA-N2-in"]}}</td>
		  </tr>
		</table>
		</div>

	<!-- ------ OGA -->
	   <div class="OGA">
	   <table>
	    <h4>OGA</h4>
		  <tr>
		    <td><input class="entry" type="text" name="OGA-O2-out" value="" /></td>
		    <td><input class="button" input type="submit" value="H2O in" /></td>
		    <td>{{pipe_thresh["OGA-O2-out"]}}</td>
		  </tr>
		  <tr>
		    <td><input class="entry"type="text" name="OGA-H2-out" value=""/></td>
		    <td><input class="button" input type="submit" value="H2 out " /></td>
		    <td>{{pipe_thresh["OGA-H2-out"]}}</td>
		  </tr>
		  <tr>
		    <td><input class="entry" type="text" name="OGA-H2O-pot-in" value=""/></td>
		    <td><input class="button" input type="submit" value="H2O in" /></td>
		    <td>{{pipe_thresh["OGA-H2O-pot-in"]}}</td>
		  </tr>
		  
		</table>
		</div>
	   
 </div>
<p>these changes permanently override the values in database </p>
{% endblock %}
