<!DOCTYPE html>
{% set active_page = "index" %}
{% extends "base.html" %}

{% block more_css %}
<link rel="stylesheet" href="/static/css/scenarios.css">
{% endblock %}


{% block content %}
<div class="flexbox-container">
	<div class="scenarios">
		
		<form action="/index" method="post">

			<p><label for="base_time">Time required for Base Scenario</label>
			<input type="text" id="base-time" name="base-time" value="{{base_time}}" maxlength="3" size="3">&nbsp;minutes
			</p>
			
			{%if error%}
		  		<p class="error"><strong>Error:</strong>{{error}}</p>
			{% endif %}
						
		    {% for dict_item in scenario_list %}
		      {% for key, value in dict_item.items() %} 		
		   		  <p><label for="{{key}}">{{key}}</label> 
		   		  <input type="checkbox" id="{{key}}" name="{{key}}" value="{{value}}" {% if key in checkOn %}checked{% endif %}>
		   		  {{value}} Minutes
				  </p>
		      {% endfor %}
		    {% endfor %}
		 <input type="submit" value="Add Time to Clock">
		</form>
	 </div>
	 <div class="clockbox">
	 	<h1>Escape Room Clock</h1>
	 	<h2>Countdown</h2>
	 	<p class="clock">{{clock}}</p>
	 	<p> minutes of Oxygen remaining</p>
	 	<p><a id="start-timer" href="piping">Start Timer</a></p>
	 </div>
</div>
    
 
{% endblock %}
