<!DOCTYPE html>
{% set active_page = "trained" %}
{% extends "participant.html" %}

{% block more_css %}
<link rel="stylesheet" href="/static/css/participant.css">
<script src="/static/js/getstream.js" defer></script>

{% endblock %}

{% block content %}

	<h2>Refresher Training Complete</h2>
	<p> Your Training will be logged in the system and
		will allow you access to the Environmental Controls,
		WPA, SRA, OGA and CDRA.
	</p>
  		<div class="button"><a href="overview">File Explorer</a></div>
 
 
		 
		
  

	   
{% endblock %}
